@charset "ISO-8859-1";

/* General Design */
.center-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f8f9fa;
}

/* Home Design */
.home-container {
	width: 100vw;
}

.card-size {
	padding: 50px;
}

/* viewFlashcard page design */
.back-to-home {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.footer {
	background-color: gray;
}

.flashcard-card {
	margin: 10px 0 10px 0;
}